/*CSS vaule for body  tag: this property will controll the background margining */
body {
    margin:0;
    max-width: 1366px;
    font-family: Verdana, Arial, Tahoma, Serif;

    flex-wrap: wrap;
}

/*CSS vaule for header Div Section: this property will controll the background color
for header div section*/
.topHeaderSection{
    display: flex;
    position: relative;
    font-size:26px;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;

}
/*CSS vaule for headerScoreText font color*/
#headerScoreText{
    color: #781C68 ;
}
/*CSS vaule for to hide highScore and timeLeft inner text*/
#headerScoreText #highScore, #timeLeft , .resultBox{
  
    color: black;
}
/*CSS vaule for middleContainer postion and style*/
.middleContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    float: center;
}
/*CSS vaule for infoTitle*/
.middleContainer #infoTitle {
    font-size:xx-large;
    
}
/*CSS vaule for paragrph*/
.middleContainer #quizRule{
    font-size: large;
   
}
/*CSS vaule for infoDescription span*/
#infoDescription{
    font-style: italic;
    color: #277BC0;
}
#startQuizButton{
    float: center;
    margin-left: 250px;
    margin-top: 40px;
    padding: 20px;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*CSS vaule for buttons*/
button{
    color: white;
    background-color: #781C68;
    font-size: 20px;
    float: center;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius:5px ;
    cursor: pointer;
}
.questonList{ 
    position: absolute;
    margin-top: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    float: center;
    flex-wrap: wrap;

}
.allDone{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    float: center;
}

ul
{
list-style-type: none;
padding: 0;
margin: 0;

}

li
{
background-repeat: no-repeat;
background-position: 100% .4em;
padding-right: .6em;
margin: 1em 0;
color: white;
background-color: #781C68;
cursor: pointer;
}

#correctOrWrong{
    border-top: solid lightgray ;
    visibility: hidden;
    font-size: xx-large;
    color: gray;
}